<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Receive</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p class="gray-text">
    Available for Delivery:
  </p>
  <ion-item *ngFor="let shipment of pendingDeliveries;">  
    <h2>Shipment from {{shipment.sender}}</h2>
    <ion-item id="hover-highlight" *ngFor="let item of shipment.items;" (click)="openItemDetail(item)">
      <ion-avatar item-start>
        <img src={{item.profilePic}}>
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.message}}</p>
    </ion-item>
  </ion-item>
</ion-content>