page-receive {
   .gray-text{
        margin-left: 16px;
        color: rgb(172, 172, 172);
        font-size: 1.2em;
    }

    .item-md{
        padding-left:0px !important;
    }
    .item-inner{
        border: none !important;
    }
}