<ion-header>
  <ion-navbar>
    <ion-title>
      Send
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>To</ion-label>
      <ion-input type="text" [(ngModel)]="shipmentInfo.recipient" placeholder="Enter phone #"></ion-input>
    </ion-item>
  </ion-list>
  <div class="profile-image-wrapper" *ngIf="shipmentInfo.items.length <= 0" (click)="showAddItemPage()">
    <div class="profile-image-placeholder">
      <ion-icon name="add"></ion-icon>
      <div>
        Add Item
      </div>
    </div>
  </div>
  <p class="gray-text" *ngIf="shipmentInfo.items.length > 0">
    Items to Send:
  </p>
  <ion-list>
    <ion-item id="hover-highlight" *ngFor="let item of shipmentInfo.items; let i = index" (click)="openItemDetail(item)">
      <ion-avatar item-start>
        <img src={{item.profilePic}}>
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.message}}</p>
      <ion-icon class="hover-pointer" item-end name="close" (click)="removeItemFromShipment(i)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-row *ngIf="shipmentInfo.items.length > 0">
    <ion-col col-6>
      <button ion-button color="primary" (click)="resetShipment()" class="btn-row">Cancel</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button color="primary" (click)="showConfirmSendDialog()" class="btn-row">Send</button>
    </ion-col>
  </ion-row>
  <ion-fab right bottom *ngIf="shipmentInfo.items.length > 0" (click)="showAddItemPage()">
    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>